.boosts-container {
    background-color: #121212;
    min-height: 100vh;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    padding: 20px;
}
.text-head {
    font-size: 2em;
    font-weight: bold;
}

.boosts-header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.task-header{
    background-color: #2c2c2e;
    width: 160px;
    height: 40px;
    white-space: nowrap;
    margin-right: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.coin-in-header{
    width: 20px;
    height: 20px;
    margin-top: 9px;
    margin-left: 8px;
}
.text-header{
    margin-top: 7px;
    font-size: 19px;
}

.boosts-header h1 {
    font-size: 24px;
}


.boosts-text {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.boosts-text .task {
    background-color: #2c2c2e; /* Adjust color to your preference */
    padding: 7px 10px;
    border-radius: 8px; /* Rounded corners for the +1,000 box */
    margin-right:30px;
    white-space: nowrap;
}
.boosts-text .icon {
    background-color: #2c2c2e; /* Adjust color to your preference */
    width: 45px;
    height: 45px;
    position: static;
    border-radius: 13px; /* Rounded corners for the +1,000 box */
    margin-right:15px;
}
.boosts-text .coin {
    width: 15px;
    height: 15px;
    margin-right: 2px;
}


.boosts-task:last-child {
    margin-bottom: 0;
}

.boosts-premium {
    padding: 15px;
    background-color: #2c2c2e;
    border-radius: 8px;
    font-family: 'SF Pro Display', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.boosts-premium button {
    background-color: #007aff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}

.boosts-earnings {
    padding: 15px;
    background-color: #2c2c2e;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.boosts-earnings button {
    background-color: #007aff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}

.boosts-navigation {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: #131313;
    padding: 10px 0;
}

.boosts-navigation button {
    background: none;
    color: #d1d1d6;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}

.boosts-navigation .active {
    color: white;
    border-bottom: 2px solid white;
}

/* Медиа-запросы и дополнительные стили по мере необходимости */
