.boosts-container {
    background-color: #121212;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box; /* Убедитесь, что padding не увеличивает ширину */
    overflow-x: hidden;
}
.back-button {
    position: absolute; /* Используем абсолютное позиционирование */
    top: 20px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
    font-family: 'SF Pro Display', sans-serif;
    display: flex; /* Для выравнивания иконки и текста */
    align-items: center; /* Центрирование элементов по вертикали */
    background: transparent; /* Прозрачный фон кнопки */
    border: none; /* Убрать границу */
    color: #FFF; /* Цвет текста */
    cursor: pointer; /* Курсор в виде указателя */
}

/* Стили для кнопки при наведении (опционально) */
.back-button:hover {
    opacity: 0.8; /* Немного затемнить кнопку при наведении */
}

.text-head {
    font-size: 2em;
    font-weight: bold;
}

.boosts-header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.task-header{
    background-color: #2c2c2e;
    width: 160px;
    height: 40px;
    white-space: nowrap;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.coin-in-header{
    width: 20px;
    height: 20px;
    margin-top: 9px;
    margin-left: 8px;
}
.text-header{
    margin-top: 7px;
    font-size: 19px;
}




/*Задания*/
.boosts-text {
    color: white;
    padding: 7px;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 15px;
}

.boosts-text .task {
    background-color: #2c2c2e;
    padding: 1px 23px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}
.boosts-text .coin {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}
.boosts-text .icon {
    background-color: #2c2c2e;
    border-radius: 15px;
    display: flex;
    border: none;
    align-items: center;
    margin-left: 10px;
    margin-right: 5px;
}


.line{
    width: 100%;
}


/*Premium*/
.boosts-premium {
    padding: 25px;
    background-color: #2c2c2e;
    border-radius: 30px;
    width: 100%;
    margin-top: 20px; /* Увеличиваем отступ сверху */
    margin-bottom: 20px;
}
.premium-gradient {
    font-weight: bold;
    font-size: 24px;
    background: linear-gradient(135deg, #ffcc00 10%, #ff9900 70%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.text-header-premium {
    font-size: 24px;
    font-weight: bold;
}
.text-in-premium{
    color: gray;
    margin-top: 3px;
    font-size: 12px;

}
.boosts-premium button {
    background-color: #333333;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}
.text-button{
    font-size: 17px;
    cursor: pointer;
    font-family: 'SF Pro Display', sans-serif;
}




/*Ускорение заработка */
.boosts-earnings {
    padding: 25px;
    background-color: #2c2c2e;
    border-radius: 30px;
    width: 100%;
    margin-top: 20px; /* Увеличиваем отступ сверху */
    margin-bottom: 20px;
    white-space: nowrap;
}
.text-in-earn{
    margin-top: 7px;
    font-size: 28px;
    margin-right: 3px;
}
.coin-in-earn{
    width: 20px;
    height: 20px;
}

.Nx{
    background-color: #333333;
    color: white;
    padding: 15px 17px;
    border-radius: 25px;
    margin-right: 7px;
    font-weight: bold;
}

.boosts-earnings button {
    background-color: #333333;
    color: white;
    padding: 14px 28px;
    font-family: 'SF Pro Display', sans-serif;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 15px;
}




/*Навигация*/
.boosts-navigation {
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: #131313;
    padding: 10px 0;
}

.boosts-navigation button {
    background: none;
    color: #d1d1d6;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}

.boosts-navigation .active {
    color: white;
    border-bottom: 2px solid white;
}

/* Медиа-запросы и дополнительные стили по мере необходимости */
