.employee-details {
    background-color: #121212;
    color: white;
    padding: 20px;

}

.employee-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.employee-avatar-large {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.employee-indo{


}

.employee-info h1 {

    font-size: 1.5em;
}

.employee-info p {
        margin: 5px 0;
}

.line{
    width: 100%;
    margin-bottom: 10px;
}

.employee-actions button {
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.employee-actions button:hover {
    background-color: #444;
}
